<!--show-books,users用-->
	<div class="row">
		<h2>User info</h2>
  	</div>
  	<% if user.id == current_user.id %>
		<div class="row">
      		<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
     	</div>
		<table class="table">
  			<tr><th>name</th><td><%= current_user.name %></td></tr>
  			<tr><th>introduction</th><td><%= current_user.introduction %></td></tr>
	　	</table>
		<div class="row">
			<%= link_to edit_user_path(@user.id) do %>
	 		 	<span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_23822"></span>
	 	 	<% end %>
	 	</div>
	<% else %>
	 	<div class="row">
	     	<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
	 	</div>
	　	<table class="table">
  			<tr><th>name</th><td><%= user.name %></td></tr>
  		    <tr><th>introduction</th><td><%= user.introduction %></td></tr>
	　	</table>
		<div class="row">
	　		<%= link_to user_path(current_user.id) do %>
				<span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_23822"></span>
	        <% end %>
	 	</div>
	<% end %>