<!--Home-->
<body>
<div class="container">
  <% if flash[:notice_e] %><p class="notice"><%= flash[:notice_e] %></p><% end %>
  <div class="row">
    　<div class="col-xs-3 sidebar">
      　　<%= render partial: 'users/s_user_info', locals: { user: @user} %>
     　　　<%= render partial: 'books/new', locals: { book: @book } %>
     </div>
     <div class="col-xs-9">
      　　<h2>Books</h2>
         <table class="table table-hover">
           <thead>
             <tr>
   	           <th> </th>
　　            <th>Title</th>
　　            <th>Opinion</th>
             </tr>
         　 </thead>
         　 <% @books.each do |book| %>
            　<tbody>
              <tr>
                <td>
                  <%= link_to user_path(@user.id) do %>
                    <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" ,size:'40x40' %>
                  <% end %>
                </td>
　　             <td><%= link_to "book.title", book_path(book.id) %></td>
	              <td><%= book.body %></td>
           　 </tr>
          　</tbody>
         　<% end %>
      　 </table>
     </div>
  </div>
</div>
</body>