<h1>User info</h1>
<%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
<table>
  <tr align="left"><th>name</th><td><%= current_user.name %></td></tr>
  <tr align="left"><th>introduction</th><td><%= current_user.introduction %></td></tr>
</table>
<%= link_to "edit", edit_user_path(current_user.id) %>

<h1>Books</h1>

<main>
<table class="table">
   <tr>
   	<th></th>
　　 <th>Title</th>
　　 <th>Opinion</th>
   </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg"%></td>
　　   <td><%= book.title %></td>
	  <td><%= book.body %></td>
    </tr>
   <% end %>
</table>