<!--User→show→title→useridのBookdetail-->
<body>
  <div class="container">
    <div class="row indexbody">
      <div class="col-xs-3 sidebar">
        <h2>User info</h2>
        <%= render 'users/user_info', user: @book.user %>
        <h2>New book</h2>
        <%= render 'new', book: @book_n %>
      </div>
      <div class="col-xs-9 indexbody">
        <h2>Book detail</h2>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100'%><br>
                <%= link_to @user.name ,user_path(@user.id) %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
                <% if @book.user == current_user %>
                  <td>
                    <%= link_to edit_book_path(@book) do %>
                      <button type="button" class="btn btn-success">Edit</button>
                    <% end %>
                  </td>
       　　        <td>
                    <%= link_to book_path(@book),method: :delete,"data-confirm" => "本当に消しますか？" do %>
                      <button type="botton" class="btn btn-danger">Destroy</button>
                    <% end %>
                  </td>
                <% end %>
                <!--いいね-->
                <td>
                  <div id="favorites_buttons_<%= @book.id %>">
                    <%= render partial: 'favorites/favorite', locals: { book: @book} %>
                  </div>
                </td>
                <!--いいね-->
                <td>コメント数：<%= @book.book_comments.count %></td>
            </tr>
          </tbody>
        </table>
        <table class='table table-hover' id="comment_box">
        <!--コメント一覧-->
        <%= render 'comments', book_comments: @book_comments %>
        </table>
        <!--コメント入力フォーム-->
        <%= form_with(model: [@book, @book_comment], remote: true) do |f| %>
          <%= f.text_area :comment, size: "90x5", id: 'comment_body' %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</body>
